openai==1.9.0
pyTelegramBotAPI==4.16.1
python-dotenv==1.0.1    # загрузка переменных окружения из файла .env - паролей, API-ключей и других конфигурационных параметров
regex==2023.12.25
requests==2.31.0
